button {
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.btn {
    background-color: #fff;
    border: 1px solid #E5E5E5;
    padding: 6px 12px;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &.btn-secondary {
    background-color: #F2F4F4;
    border: 1px solid #F2F4F4;

    &:hover {
      background-color: #fff;
      border: 1px solid #E5E5E5;
    }
  }

  &.btn-green {
    background: $green;
    color: #fff;
    border: none;

    &:hover {
      background-color: darken($green, 10%);
    }
  }

  &.btn-lg {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 20px;
    height: 50px;
  }
}

