.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $modal-backdrop-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: $white;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 10px $box-shadow;
  .actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}
