$green: #19B776;
$gray-light: #f8f9fa;
$gray: #F2F4F4;
$gray-dark: #6c757d;
$white: #fff;
$red: #EB0000;
$white: #fff;

$text-main: #333;
$text-headers: #333;
$text-gray: #333;
$text-light-gray: #999;
$border-radius: 5px;
$modal-backdrop-color: rgba(0, 0, 0, 0.5);
$gray-border: #E5E5E5;
$box-shadow: rgba(0, 0, 0, 0.1);
$content-border: 1px solid $gray-border;