@import './_variables';
@import './_buttons';
@import './_modals';
@import './_typography';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: Roboto, serif;
  color: $text-main;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  background-image: url('@/assets/background.png');
  background-size: 100% 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

main {
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 4px 8px $box-shadow;
  width: 100%;
  max-width: 1200px;
}
ul{
  padding: unset;
}

textarea {
  background: $gray-light;
  border-radius: 5px;
  border: 1px solid $gray-border;
}
